/***   HTml Font Size Styles   ***/

html {
  font-size: 25px;
}

/***   Main Body Styles    ***/

body {
  background-color: skyblue;
  font-size: Large;
  font-weight: 525;
}

/***   Form Body and Backgroud Styles   ***/

form {
  background-color: rgb(90, 90, 300);
  margin: auto;
  width: 70%;
  padding: 25px;
  text-align: left;
  font-size: 1rem;
  font-tyle: 10em;
}

#survey-form {
  background-color: dark blue;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

#description {
  font-size: 0.88rem;
  text-align: center;
}

/***   Survey Form Styles   ***/

input [type="text"], textarea {
  width: 70%;
  border-radius: 8px;
  margin: 0;
  padding: 3pz;
  resize: vertical;
}

#name {
  width: 70%;
  height: 30px;
  border-radius: 8px;
}

#email {
  width: 70%;
  height: 30px;
  border-radius: 8px;
}

#number {
  width: 70%;
  height: 30px;
  border-readius: 8px;
}

/***    Dropdown  Styles    ***/

#dropdown {
  width: 71%;
  height: 35px;
  border-radius: 8px;
}

/***   Checkbox Styles    ***/

input[type="checkbox"]:not(old) + label,
input[type="radio"]:not(old) + label {
  display: inline-block;
  margin-left: -15px;
  padding-left: 28px;
  background: url("checks.png") no-repeat 0 0;
  line-height: 24px;
}

/***   TextArea Styles   ***/

#textArea {
  width: 70%;
  height: auto;
  box-sixing: border-box; 
  font-size: 0.8rem;
  margin-bottom: -23px;
  padding-right: -25px;
  border-radius: 8px;
}

/***    Submit Form and Button Styles   ***/

#submit {
  width: 35%;
  height: 55px;
  margin-top: 0px;
  border-radius: 8px;
  background-color: #4caf50;
  font-size: 0.9rem;
}
